{% extends 'SmirikCourseBundle:Admin:layout.html.twig' %}

{% block title %}{{ 'admin.category.edit.page_title'|trans }}{% endblock %}

{% block header %}
<h1>{{ entity.title }} <small>{{ 'admin.category.edit.title.comment'|trans }}</small></h1>
{% endblock %}

{% block body %}

{% form_theme edit_form 'SmirikAdminBundle:Form:fields.html.twig' %}

<form action="{{ path('admin_categories_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
  <fieldset>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit" class="btn btn-primary">{{ 'admin.category.action.save'|trans }}</button>
    </p>
  </fieldset>
</form>

<form action="{{ path('admin_categories_delete', { 'id': entity.id }) }}" method="post">
<div class="well">
    {{ form_widget(delete_form) }}
		<a href="{{ path('admin_categories') }}" class="btn">
		    {{ 'admin.category.action.back'|trans }}
		</a>
    <button type="submit" class="btn btn-danger">{{ 'admin.category.action.delete'|trans }}</button>
</div>
</form>

{% endblock %}
