{% extends 'SmirikContentBundle:Admin:layout.html.twig' %}

{% block title %}{{ 'admin.category.index.page_title'|trans }}{% endblock %}

{% block header %}
<h1>{{ 'admin.category.index.title'|trans }} <small>{{ 'admin.category.index.title.comment'|trans }}</small></h1>
{% endblock %}

{% block content %}

<table class="records_list table table-striped table-bordered">
    <thead>
        <tr>
            <th>{{ 'admin.category.table.header.id'|trans }}</th>
            <th>{{ 'admin.category.table.header.pid'|trans }}</th>
            <th>{{ 'admin.category.table.header.title'|trans }}</th>
            <th>{{ 'admin.category.table.header.navigation'|trans }}</th>
            <th>{{ 'admin.category.table.header.isactive'|trans }}</th>
            <th>{{ 'admin.category.actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_categories_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.parent }}</td>
            <td><a href="{{ path('admin_categories_edit', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
            <td>{{ entity.navigation }}</td>
            <td>{{ entity.isactive }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_categories_edit', { 'id': entity.id }) }}">{{ 'admin.category.action.edit'|trans }}</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{ path('admin_categories_new') }}" class="btn">
    {{ 'admin.category.action.create'|trans }}
</a>
{% endblock %}
