{% extends '::base.html.twig' %}

{% block title %}{{content.title}} / {{ content.category.title }}{% endblock %}

{% block header %}
    {{ content.title }}
{% endblock %}

{% block breadcrumbs %}
        <ul class="pull-right" id="breadcrumbs">
            <li>
                <a href="{{ path("homepage") }}" title="dashboard">Главная</a>
                <span class="divider">/</span>
            </li>
            <li>{{ category.title }}</li>
        </ul>
{% endblock %}

{% block content %}

    <div class="row-fluid">
        <div class="span8">

            <article class="post single-post image-post">

                <div class="entry-meta">
                    <span class="entry-type"></span>
                    <span class="entry-date">{{ time_diff(content.createdAt) }}</span>
                </div>

                <div class="entry-content">
                    <blockquote>
                        {{ content.description | raw }}
                    </blockquote>

                    <p>
                        {{ content.text | raw }}
                    </p>

                    {% if (content.file|length > 0) and not(content.hasImage)  %}
                        <p>
                            <a href="{{ asset('uploads/pages/' ~ content.file) }}" title="{{ content.title }}">{{ 'Download'|trans }} {{ content.title }}</a>
                        </p>
                    {% endif %}
                </div>
                <div class="clr"></div>
            </article>

        </div>
    	<div class="sidebar span4">
    		<!-- Tags / categories -->
    		<div class="widget">
                {% include 'SmirikContentBundle:Category:_list.html.twig' with {'categories': categories } %}
    		</div>
    	</div><!-- end sidebar -->
    </div>

{% endblock %}