{% extends '::base.html.twig' %}

{% block title %}{{ category.title }}{% endblock %}

{% block header %}
    {{ category.title }}
{% endblock %}

{% block breadcrumbs %}
    {% include "SmirikCoreBundle:Menu:breadcrumbs.html.twig" with {
        items: [
            {},
            {label: category.title, uri: "#"},
        ]}
    %}
{% endblock %}


{% block content %}

    <!-- #blog -->
    <div id="blog">

    	<!-- posts -->
    	<div class="span8"> 
        
            {% for item in content %}
        		<article class="post image-post">

        			<!-- entry media -->
                    {% if false %}
        			<a href="blog-single.html" class="entry-media">
        				<img src="assets/blog/placeholder-600x400.gif" alt="">
        			</a>
                    {% endif %}

        			<!-- entry body -->
        			<div class="entry-body">
        				<a href="{{ path('content_index', { 'id': item.id }) }}">
        					<h2 class="entry-title">
        						{{ item.title }}
        					</h2>
        				</a>
        				<p>{{ item.description|raw }}</p>
        			</div>

        			<!-- entry meta -->
        			<div class="entry-meta">
        				<span class="entry-type"></span>
        				<span class="entry-date">{{ item.createdAt|ago }}</span>
        			</div>

        			<!-- clearfix -->
        			<div class="clr"></div>

        		</article><!-- end item -->
                <hr>
            {% else %}
                <h3>{{ 'No content found'|trans }}</h3>
            {% endfor %}
    		<hr>

            {% if false %}
    		<!-- Pagination
    		================================================== -->
    		<div class="pagination">
    			<ul>
    				<li><a href="#">← Prev</a></li>
    				<li class="active"><a href="#">1</a></li>
    				<li><a href="#">2</a></li>
    				<li><a href="#">3</a></li>
    				<li><a href="#">Next →</a></li>
    			</ul>
    		</div>
            {% endif %}
		
    	</div><!-- end .span8 -->

    	<!-- Sidebar with widgets
    	================================================== -->
    	<div class="sidebar span4">
    		<!-- Tags / categories -->
    		<div class="widget">
                {% include 'SmirikContentBundle:Category:_list.html.twig' with {'categories': categories } %}
    		</div>
    	</div><!-- end sidebar -->

    </div><!-- end #blog -->

{% endblock %}